#Home{
  background-color: $background;
  // background: url("./assets/images/background1.jpg") no-repeat;
  background-size: cover;


  #LandingImage{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    img {
      transform: scale(1.01);
    }

    .mobile & {
      img {
        margin-left: -90%;
        filter: blur(1vw) saturate(0.5);
        height: 100%;
      }
      .Gradient {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(black, 0), rgba(white, 0), rgba(white, 0.9), white);
      }
    }

    .desktop & {
      img {
        height: 100%;
        min-width: 100%;
        filter: blur(0.3vw);
        position: absolute;
        bottom: 0;
      }
    }
  }

  #MainMessage{
    @extend .ExoLight;
    color: #555;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    line-height: 1;
    text-align: left;

    .underscore {
      animation: BlinkingAnimation 1s linear 0s infinite;

      @keyframes BlinkingAnimation {
        0% {opacity: 0}
        50% {opacity: 0}
        51% {opacity: 1}
        100% {opacity: 1}
      }
    }

    h1 {
      @extend .Lato-Bold;
      text-transform: uppercase;
      color: $main-medium;
      letter-spacing: -0.25vw;
    }

    .desktop & {
      width: 50%;
      font-size: 2.5vw;
      // left: 25vw;
      left: 5vh;
      bottom: 5vh;
      text-align: left;

      div {
        display: block;

        &::after {
          content: " ";
          display: block;
          font-size: 2vw;
        }
      }

      h1 {
        font-size: 6.8vw;
        line-height: 1;
        margin: 0;
      }
    }

    .mobile & {
      width: 80vw;
      font-size: 7vw;
      left: 10vw;
      top: calc(50vh - 65vw);

      h1 {
        font-size: 10vw;
        line-height: 2;
      }
    }


    span{
      opacity: 0;
    }

    .special {
      @extend .ExoBlack;
      color: $main-dark;
    }
  }

  .ViewWork {
    display: block;
    @extend .Lato-Medium;
    position: absolute;
    text-align: center;
    color: $main-light;
    cursor: pointer;
    border: 1px solid $main-darker;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
    z-index: 1;
    background: rgba($main-darker, .2);

    .mobile & {
      height: 15vw;
      width: 40vw;
      left: 30vw;
      top: 75%;
      border-radius: 10vw;
      font-size: 5vw;
      line-height: 15vw;
    }

    .desktop & {
      height: 5.625vw;
      width: 15vw;
      left: 42.5vw;
      bottom: 5vw;
      border-radius: 10vw;
      font-size: 1.5vw;
      line-height: 5.625vw;
    }

    &:hover, &:active {
      color: white;

      p {
        animation: fadeOutInRight 0.25s linear 0s 1;

        @keyframes fadeOutInRight {
          0% {opacity: 1; transform: translateX(0.5)}
          50% {opacity: 0; transform: translateX(1.5vw)}
          51% {opacity: 0; transform: translateX(-0.5vw)}
          100% {opacity: 1; transform: translateX(0.5)}
        }
      }

      span.arrow {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &:before {
      content: "";
      position: absolute;
      background: $main-darker;
      bottom: 0;
      left: 0;
      top: 0;
      right: 100%;
      z-index: -1;
      transition: all 0.25s ease-in-out;
    }

    p {
      transform: translateX(0.5vw);

      span.arrow {
        display: inline-block;
        @extend .Lato-Hairline;
        font-size: 150%;
        line-height: 0.5;
        top: 5vw;
        opacity: 0;
        transform: translateX(-0.5vw);
        transition: all 0.25s ease-in-out;
      }
    }

    &:hover:before, &:active:before {
      right: 0;
    }
  }

  @-webkit-keyframes stripes {
    to {
      background-size:100% 100%;
    }
  }

  @keyframes stripes {
    to {
      background-size:100% 100%;
    }
  }
}
