.Project{
	display: none;
	width: 100%;
	height: 100%;
	background-color: $grey-lighter;
	overflow: auto;

	.desktop & {

		.ProjectHeader {
			display: none;
		}

		.HeadContent {
			display: block;
			width: 100%;
			height: calc(100% - 5vw);
			margin-top: 5vw;

			.HeadInfo{
				display: inline-block;
				width: 40%;
				height: 100%;
				padding-left: 10%;
				font-size: 5vw;

				.Title {
					display: block;
					@extend .ExoBlack;
					font-size: 100%;
					margin: 0;
					margin-top: 20vw;
					color: $grey-dark;
				}
				.Client {
					@extend .Lato-Light;
					font-size: 50%;
					color: $grey-medium;
				}
			}

			.HeadImage {
				display: inline-block;
				height: 100%;
				width: 50%;

				img {
					display: block;
					width: 50%;
					margin: auto;
					margin-top: 25%;
				}
			}
		}

		.Content {
			@extend .Lato-Medium;
			width: 90%;
			padding: 0 5%;
			margin: auto;
			// margin-top: 7.5vw;
			text-align: center;
			overflow-x: hidden;
			overflow-y: auto;

			.Copy {
				@extend .Lato-Light;
				color: $grey-medium;
				margin: auto;
				margin-top: 8vh;
				margin-bottom: 8vh;
				width: 60%;
				font-size: 2vw;
			}

			.Description {

			}

			img {
				display: inline-block;
				margin: auto;
				width: 25%;
				margin: 2%;
			}

		}
	}

	.mobile & {

		.ProjectHeader {
			height: 30vw;
			width: 100%;
			position: fixed;
			background-color: white;
			z-index: 1;

			.Content {
				width: 90%;
				height: calc(100% - 8vw);
				padding-top: 8vw;
				padding-left: 5vw;
				padding-right: 5vw;
				font-size: 8vw;

				.BackButton {
					animation: none;
					transition: none;
					background: none;
					top: 2.5vw;
					left: 2.5vw;
					height: 20vw;
					width: 20vw;
					stroke-width: 1px;
					stroke-dashoffset: 310;
					stroke-dasharray: 310;
					stroke: $main-dark;

					.BackgroundCircle {
						stroke-width: 0;
						fill: $grey-lighter;
					}

					.Line {
						fill: none;
					}

					.TailCircle {
						fill: $main-dark;
					}

					.Arrow {
						fill: $main-dark;
					}
				}

				.Title {
					@extend .ExoBlack;
					color: $main-dark;
					width: 100%;
					margin-bottom: 0;
					margin-top: 0;
					text-align: right;
					line-height: 1;
					font-size: 100%;
				}

				.Client {
					color: $grey-medium;
					width: 100%;
					text-align: right;
					font-size: 60%;
				}
			}
		}

		.HeadContent {
			height: 80vh;
			width: 100%;
			margin-top: 30vw;

			.HeadImage {
				display: inline-block;
				height: 100%;
				width: 100%;

				img {
					display: block;
					width: 60%;
					margin: 40% auto;
				}
			}
		}

		.Content {
			@extend .Lato-Medium;
			width: 80%;
			height: 100vh;
			margin: auto;
			text-align: center;
			overflow: visible;

			.Copy {
				@extend .Lato-Light;
				color: $grey-medium;
				margin-top: 8vh;
				margin-bottom: 8vh;
				font-size: 5vw;
			}

			.Description {

			}

			img {
				width: 90%;
				margin-bottom: 10%;
			}

		}
	}

}
