#UnderConstruction{
  #LandingImage{
    position: absolute;
    top: 0;
    left: 0;
    background: url("./assets/images/portrait.jpg") no-repeat;
    height: 100vh;
    background-size: contain;
  }

  #MainMessage{
    color: $grey-light;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    height: 50vh;
    max-width: 50vw;
    font-size: 4vw;
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    text-align: right;
    right: 5vw;
    top:20vw;
    text-transform: uppercase;

    span{
      opacity: 0;
    }
  }
  svg{
    vertical-align: bottom;
    height: 5vw;
    width: 5vw;
  }
}
