#Work{
  overflow-y: auto;
  // background: url("./assets/images/gallery/DSC_1001.jpg") no-repeat center;
  background-size: cover;
  background-color: $grey-lighter;

  .mobile &{
    padding-top: 20vw;
  }

  .desktop & {
    padding-top: 5vw;
  }

  #OptionsContainer {
    overflow: hidden;

    .mobile &{
      width: 100%;
      padding-bottom: 20vw;
    }

    .desktop & {
      width: 100%;
      margin: auto;
    }
  }

  .OptionCard {
    overflow: hidden;
    cursor: pointer;

    .mobile &{
      width: 100%;
      height: 30vh;
      margin-bottom: 0.5vh;
    }

    .desktop & {
      display: inline-block;
      width: 32.33%;
      height: 22.33vw;
      margin: 0.5% 0.5%;

      &:hover{
        // & .title{
        //   animation: OptionCardHoverAnim 0.2s ease-in-out 0s 1 alternate;
        //
        //   @keyframes OptionCardHoverAnim {
        //     0% {transform: translateY(0); opacity: 1;}
        //     50% {transform: translateY(10vh); opacity: 0;}
        //     51% {transform: translateY(-10vh); opacity: 0;}
        //     100% {transform: translateY(0); opacity: 1;}
        //   }
        // }
      }
    }

    &:hover {
      .overlay {
        height: 95%;
        width: 95%;
        top: 2.5%;
        left: 2.5%;

        &::before {
          background-color: rgba(black, 0.75);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      .title {
        opacity: 1;
      }
      img {
        filter: saturate(1);
      }
    }

    .overlay {
      display: block;
      position: absolute;
      background-color: white;
      transition: all 0.25s cubic-bezier(0.7, 0, 1, 1);
      z-index: -1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;


      &::before {
        content: " ";
        display: block;
        height: 90%;
        width: 90%;
        top: 5%;
        left: 5%;
        position: absolute;
        transition: all 0.25s cubic-bezier(0.7, 0, 1, 1);
      }
    }

    img{
      max-width: 50%;
      max-height: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 1;
      transition: all 0.25s cubic-bezier(0.7, 0, 1, 1);
      filter: saturate(0);
      // filter: blur(0.3vw) saturate(0);
      // transform: scale(1.05);
    }

    .title{
      @extend .Lato-Light;
      position: absolute;
      color: white;
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.25s cubic-bezier(0.7, 0, 1, 1);
      z-index: 1;

      .mobile & {
        height: 30vh;
        width: 100%;
        font-size: 7vh;
        line-height: 30vh;
      }
      .desktop & {
        height: 22.33vw;
        width: 100%;
        font-size: 4vw;
        line-height: 22.33vw;
      }
    }
  }
}
