.Menu {
	position: fixed;
	visibility: hidden;
	opacity: 1;
	overflow: visible;
	z-index: 3;
	transition: all 0.2s ease-in-out;

	p{
		padding: 0px;
		margin: 0px;
	}

	.desktop & {
		top: 4vw;
		right: 4vw;
		height: 5vw; //GSAP changes this to 86%
		width: 0;	//GSAP changes this to 25%
		background: $menu-background;
	}

	#CloseButton{
		position: absolute;
		width: 15%;
		right: 0;
		top: 0;

		svg{
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			transform-origin: center;
			stroke-width: 1;
			stroke: $main-medium;

			&:hover{
				transform: rotateZ(-90deg);
			}
		}
	}

	ul.navList{
		list-style: none;
		margin-top: 15vh;

		li a {
			@extend .Lato-Hairline;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			overflow: hidden;
			position: relative;
			float: left;
			cursor: pointer;
			color: white;
			left: 0;
			transform: scaleY(0.8);
			opacity: 0;

			&:hover{
				color: $main-dark;
				left: 5%;

				&::before {
					width: 97%;
				}
			}

			&::before {
				content: " ";
				display: block;
				position: absolute;
				background-color: white;
				height: 100%;
				width: 1%;
				top: 0;
				right: 0;
				z-index: -1;
				transition: all 0.2s ease-in-out;
			}

			.desktop & {
				width: 90%;
				margin-top: 5px;
				max-height: 4vw;
				height: 4vw;
				font-size: 3.5vw;
				line-height: 4vw;
				padding: 5% 0 5% 10%;
			}
		}
	}
}
