.Menu {
	position: fixed;
	visibility: hidden;
	opacity: 1;
	overflow: visible;
	z-index: 3;
	transition: all 0.2s ease-in-out;

	p{
		padding: 0px;
		margin: 0px;
	}

	.desktop & {
		// top: 4vw;
		// right: 4vw;
		top: 0;
		right: 0;
		height: 5vw; //GSAP changes this to 86%
		width: 0;	//GSAP changes this to 25%
		// background: $menu-background;
		background: white;
	}

	#CloseButton{
		position: absolute;
		width: 15%;
		right: 2vw;
		top: 2vw;

		svg{
			cursor: pointer;
			transition: all 0.3s cubic-bezier(.27,1,.89,.89);
			transform-origin: center;
			stroke-width: 0.25;
			stroke: $main-medium;

			&:hover{
				transform: rotateZ(-90deg) scale(0.75);
			}
		}
	}

	ul.navList{
		list-style: none;
		margin-top: 10vw;

		li a {
			@extend .Lato-Light;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s cubic-bezier(1,.02,.42,.4);
			overflow: hidden;
			position: relative;
			float: left;
			cursor: pointer;
			color: $main-medium;
			left: 0;
			transform: translateY(-5vw);
			opacity: 0;

			&:hover{
				color: $main-dark;
				left: 5%;

				&::before {
					width: 97%;
				}
			}

			&::before {
				content: " ";
				display: block;
				position: absolute;
				background-color: $grey-lighter;
				height: 100%;
				width: 1%;
				top: 0;
				right: 0;
				z-index: -1;
				transition: all 0.2s cubic-bezier(1,.02,.42,.4);
			}

			.desktop & {
				width: 90%;
				margin-top: 5px;
				max-height: 4vw;
				height: 4vw;
				font-size: 3.5vw;
				line-height: 4vw;
				padding: 5% 0 5% 10%;
			}
		}
	}
}
