.MenuButton {
	display: flex;
	align-items: flex-start;
	position: fixed;
	top: 5vw;
	right: 5vw;
	color: white;
	visibility: visible;
	font-family: 'Poiret One', sans-serif;
	transition: all 0.2s ease-in-out;
	z-index: 1;

	&:hover, &:focus{
		cursor: pointer;
		color: $main-medium;
	}

	.landscape & {
		height: 7vw;
		top: 5vw;
		right: 5vw;
	}

	.portrait & {
		height: 15vw;
		top: 8vw;
		right: 8vw;
	}

	.HamburgerMenu{
		position: relative;
		fill: white;

		.top, .middle, .bottom {
			fill: $grey-medium;
			transform-origin: center;
			fill-opacity: 0;
		}

		.top {
			transform: translateY(2);
		}

		.bottom {
			transform: translateY(-2);
		}

		.circle {
			transform: rotateZ(270deg);
			transition: all 0.2s ease-in-out;
			transform-origin: center;
			stroke: white;
			stroke-width: 0.5;
			stroke-dasharray: 50;
			stroke-dashoffset: 50;
			fill-opacity: 0;
		}

		&:hover, &:active{
			.circle {
				transform: scale(0.9);
			}
		}

		.landscape & {
			svg {
				height: 5vw;
				max-width: 5vw;
			}
		}

		.portrait & {
			svg {
				height: 15vw;
				max-width: 15vw;
			}
		}
	}
}
