.MenuButton {
	display: flex;
	align-items: flex-start;
	position: fixed;
	top: 5vw;
	right: 5vw;
	@extend .Lato-Light;
	color: white;
	visibility: visible;
	transition: all 0.2s ease-in-out;
	z-index: 1;

	&:hover, &:focus{
		cursor: pointer;
		color: $main-medium;
	}

	.desktop & {
		height: 3vw;
		width: 3vw;
		top: 1vw;
		right: 5vw;
	}

	.phone & {
		height: 15vw;
		top: 2.5vw;
		right: 8vw;
	}

	.HamburgerMenu{
		position: relative;
		fill: white;

		.top, .middle, .bottom {
			fill: $grey-medium;
			transform-origin: center;
			fill-opacity: 0;
		}

		.top {
			transform: translateY(2);
		}

		.bottom {
			transform: translateY(-2);
		}

		.circle {
			transform: rotateZ(270deg);
			transition: all 0.2s ease-in-out;
			transform-origin: center;
			stroke: white;
			stroke-width: 0.5;
			stroke-dasharray: 50;
			stroke-dashoffset: 50;
			fill-opacity: 0;
		}

		&:hover, &:active{
			.circle {
				transform: scale(0.9);
			}
		}

		.desktop & {
			svg {
				transform: translateY(-5px);
				height: 4vw;
				max-width: 4vw;
			}
		}

		.phone & {
			svg {
				height: 15vw;
				max-width: 15vw;
			}
		}
	}
}
