#About{

  background-color: $grey-lighter;
  // background: url("./assets/images/background1.jpg") no-repeat;
  // background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;

  .Content {
    margin: auto;

    h1, p {
      @extend .ExoLight;
      color: $grey-light;
    }

    .desktop & {
      width: 40%;
    }

    .phone & {
      width: 80%;
    }

  }

}
