#About{

  background-color: $grey-lighter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  margin-top: 10vh;

  .Content {
    margin: auto;
    height: 100%;
    width: 100%;

    h1, p {
      @extend .ExoLight;
      color: $grey-medium;
    }

    .desktop & {
      width: 90%;
    }

    .mobile & {
      width: 80%;
    }

    .SubContainer {
      display: inline-block;
      position: relative;

      .desktop & {
        height: 100%;
        width: 45%;
      }

      .mobile & {
        height: 100%;
        width: 100%;
      }

    }

  }

}
