.BackButton{
  display: block;
  position: fixed;
  top: 45vh;
  height: 5vh;
  width: 5vh;
  background-color: $grey-medium;
  z-index: 1;
  padding: 1vh;
  cursor: pointer;
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  animation: BgInAnimation 0.5s cubic-bezier(0, 0, 0.7, 1.5) 0s 1 alternate;

  @keyframes BgInAnimation {
    0% {margin-left: -15vh;}
    100% {margin-left: 0px;}
  }

  &:hover{
    background-color: white;

    svg{
      path{
        fill: $main-light;
      }
      margin-left: -1vh;
      transform: scaleY(0.90);
    }
  }

  svg{
    height: 5vh;
    width: 5vh;
    margin-left: -0.5vh;
    transition: all 0.3s ease-in-out;
    animation: LeftButtonInAnimation 1.5s none 0s 1 alternate;

    @keyframes LeftButtonInAnimation {
      0% {transform: scaleY(0) rotateY(180deg); margin-left: -10vh;}
      30% {transform: scaleY(0) rotateY(180deg); margin-left: -10vh;}
      70% {margin-left: -0.5vh;}
      75% {transform: scaleY(0.4) rotateY(90deg);}
      90% {transform: scaleY(1.1) rotateY(0deg);}
      100% {transform: scaleY(1) rotateY(0deg);}
    }
  }
}
