/*
 * ====================================================================
 * global.scss
 * 	Used to set some global styles for your project that are used on
 * 	ALL pages.
 * ====================================================================
 */

 @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
   // For Google Chrome
   ::-webkit-scrollbar {
       width:  $size;
       height: $size;
   }

   ::-webkit-scrollbar-thumb {
       background: $foreground-color;
       border-radius: 0.5rem;
   }

   ::-webkit-scrollbar-track {
       background: $background-color;
   }

   // For Internet Explorer
   body {
     scrollbar-face-color: $foreground-color;
     scrollbar-track-color: $background-color;
   }
 }

 *{
   @include scrollbars(0.5em, black);
   overflow: hidden;
   padding: 0px;
   margin: 0px;
 }

 body, html {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 400;
}

.test-container {
  width: 100%;
  height: 100%;

  .manifest-menu {
    padding: 20px;
    display: inline-block;

    a {
      font-size: 15px;
      display: block;
      margin-bottom: 5px;
    }
  }
}
