/*
 * ====================================================================
 * vars.scss
 * 	Used to set variables used throughout scss files
 * ====================================================================
 */
$main-medium: #97273f;
$main-dark: #4d1420;
$grey-light: #CCCCCC;
$grey-dark: #222;

$ASSET_PATH: './assets/' !default;
$images: '#{$ASSET_PATH}images/';
