.InstagramProfile{

  display: block;
  background-color: white;
  color: $grey-light;
  @extend .Rajdhani;
  text-align: center;
  text-transform: uppercase;
  margin: 5%;
  overflow-y: scroll;

  $margin-size: 4vh;

  .desktop & {
    height: 80%;
    width: 80%;

    .flex{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: $margin-size;
    }

    a{
      display: inline-block;
      width: 45%;
      height: calc(80vh * 0.8 * 0.45);
    }

    h1{
      margin-bottom: $margin-size;
      display: inline-block;
      font-size: 5vh;
    }

    img{
      display: inline-block;

      &#profilePicture{
        margin: $margin-size;
        max-width: 6vh;
      }

      &.thumbnail{
        object-fit: cover;
        height:100%;
        width: 100%;
      }
    }

    hr{
      width: 80%;
      margin-left: 10%;
    }

  }

  .mobile & {
    height: 100%;
    width: 100%;
    margin: auto;

    img{
      display: inline-block;

      &#profilePicture{
        margin: $margin-size 0;
        width: 100%;
      }

      &.thumbnail{
        object-fit: cover;
        height:100%;
        width: 100%;
      }
    }

    hr {
      display: none;
    }
  }

}
